@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #f2f2f2; /* Light neutral for a clean, professional look */
    --foreground: #2c2f33; /* Dark, muted for contrast */
    --shadow: #bbbbbb; /* Soft gray for shadows and borders */
    --yellow: #EDB74D;
    --red: #EB6666;
    --green: #6FB18A;

    font-family: "Rokkitt", serif;
}

@supports (font-variation-settings: normal) {
    :root { font-family: "Rokkitt", serif; }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1c1e26;
        --foreground: #e4e8f0;
        --shadow: #44475a; 
        --yellow: #55421d;
        --red: #5f2b2b;
        --green: #294133;
    }
}

@media print {
    :root {
        --background: #fff; /* Light neutral for a clean, professional look */
        --foreground: #000; /* Dark, muted for contrast */
        --shadow: #fff; /* Soft gray for shadows and borders */
        --yellow: #fff;
        --red: #fff;
        --green: #fff;
    }
}


@keyframes blobAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* Base Styles */
body {
    margin: 0;
    padding: 0;
    color: #e4e8f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  
    background-color: var(--background)
      
}

.hidden { 
    display: none; 
    position: absolute;
    width: 0;
    height: 0;
}


/* Content Styling */
header {
    text-align: left;
    z-index: 2; /* Ensure content stays above beams and dots */
    padding: 3rem;
}

header p {
    max-width: 700px;
    position: relative;
    font-size: 1.65rem;
    margin: 1rem 0;
    color: var(--foreground);
}

h1 {
    font-size: 3rem;
    margin: 0 0 20px;
    color: var(--foreground);
}

.socials {
    transform: translateX(-1rem);
}

.socials a {
    display: inline-block;
    margin: 0 10px;
    padding: 1rem 2rem;
    color: var(--foreground);
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    border: 3px solid var(--foreground);
}

.socials a:hover {
    background: var(--foreground);
    color: var(--background);
    transition: color .1s, background-color .1s;
}
