@import "reset.scss";
@import "text.scss";

:root {
	--region: #EEF0F2;
	--foreground: #1A1423;
	--link: #3C91E6;
	--accent: #FF6663;
	--highlight-region: #ddd;
}

.floating {
	box-shadow: 2px 2px 22px 0px rgba(100,100,100,1);
}

.floating-small {
	box-shadow: 0px 0px 5px 0px rgba(100,100,100,1);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--region: #1A1423;
		--foreground: #EEF0F2;
		--highlight-region: rgb(119, 76, 96);
		--accent: #CF333F;
	}
	
	.floating {
		box-shadow: 2px 2px 22px 0px rgba(0,0,0,1);
	}
	
	.floating-small {
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
	}
}

html {
	background: var(--region);
	color: var(--foreground);
	
	a {
		color: var(--link);
	}
}

nav {
	a {
		color: var(--foreground);
		text-decoration: none;
		padding-left: 20px;
	}
	height: 46px;
	
	* {
		line-height: 46px;
	}
}

main {
	margin: 10px 20px;
}

.panel {
	padding: 30px;
	background-color: var(--highlight-region);
}

.btn {
	background-color: var(--accent);
	padding: 8px 15px;
	display: inline-block;
	color: var(--foreground);
	cursor: pointer;
	transition: drop-shadow 5s;
	text-decoration: none;
}

.btn:hover {
	@extend .floating-small;
}